@model JobModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Experience";
    ViewData["Action"] = "Details";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-briefcase fa-fw";
}

<section id="job-details" class="form-component">
    <div class="header">
        <h2><i class="fas fa-briefcase fa-fw" aria-hidden="true"></i> Details</h2>
    </div>
    <div class="body">
        <div class="mb-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.JobStart)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.JobStart)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.JobEnd)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.JobEnd)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <a asp-action="Index"><i class="fal fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List</a> |
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fal fa-edit fa-fw" aria-hidden="true"></i> Edit</a>
        </div>
    </div>
</section>