@model JobModel

@{
    Layout = "_ManagementLayout";
    ViewData["Title"] = "Details";
    ViewData["Icon"] = "fas fa-briefcase fa-fw";
}

<h2>Details</h2>

<div>
    <h4>JobModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
