@model HomeViewModel
@{
    ViewData["Controller"] = "Home Page";
    ViewData["Title"] = "Home";
    string profile = String.IsNullOrWhiteSpace(Model.User.Link) ?
        "/assets/dist/images/default_profile_pic.png"
        : Model.User.Link;
}

<section id="landing-section" class="page-landing" style="background-image:url(@Model.Home.LandingImage)">
    <nav class="navbar navbar-expand-lg bc-nav -light px-3">
        <a class="navbar-brand brand" href="/">
            <img src="~/assets/dist/images/blogcore_logo_white_42x42.png"  alt="blogcore logo"/> BlogCore
        </a>
        <ul class="navbar-nav">
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link" title="Sign in"><i class="fad fa-sign-in fa-fw" aria-hidden="true"></i></a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" class="nav-link" title="Home"><i class="fa-duotone fa-house fa-fw" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <form method="post" asp-action="Logout" asp-controller="Account" class="d-flex">
                        <button class="nav-link" title="Sign out">
                            <i class="fad fa-sign-out fa-fw" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
            }

        </ul>
    </nav>
    <div class="content">
        <div class="body">
            <div class="profile-picture-container">
                <div class="profile-picture" style="background-image:url(@profile);"></div>
            </div>
            <h1 class="title">
                @Model.User.FirstName @Model.User.LastName
            </h1>
            <div class="subtitle">
                @Model.User.Title
            </div>
            @if (Model.Home != null)
            {
                <div class="links">
                    @if (!String.IsNullOrWhiteSpace(Model.Home.GithubLink))
                    {
                        <a href="@Model.Home.GithubLink" class="link" title="Github"><i class="fab fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.Home.LinkedInLink))
                    {
                        <a href="@Model.Home.LinkedInLink" class="link" title="Linked In"><i class="fab fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></a>
                    }
                </div>
            }
        </div>
    </div>
</section>
<section id="about-me-section" class="about-me">
    <div class="bc-header header">
        <h2 class="title">About Me</h2>
        <div class="underline"></div>
    </div>
    <div class="container-fluid body">
        <div class="row">
            <div class="col-md">
                <h5>Name:</h5>
                <p><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i> @Model.User.FirstName @Model.User.LastName</p>
                @if (!String.IsNullOrEmpty(Model.User.PhoneNumber))
                {
                    <h5>Phone:</h5>
                    <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> @Model.User.PhoneNumber</p>
                }
                <h5>Email:</h5>
                <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> @Model.User.Email</p>
            </div>
            @if (!String.IsNullOrEmpty(Model.User.Bio))
            {
                <div class="col-md bio">
                    <h5>Bio</h5>
                    <p>@Model.User.Bio</p>
                </div>
            }
        </div>
    </div>
</section>
@if (Model.Skills.Count != 0)
{
    <section id="skills-section" class="skills" style="background-image:url(@Model.Home.SkillImage)">
        <div class="bc-header header">
            <h2 class="title">Skills</h2>
            <div class="underline"></div>
        </div>
        <div class="container-fluid body -md">
            @foreach (SkillModel item in Model.Skills)
            {
                <div class="skill-panel">
                    <div class="content">
                        <div class="title">
                            @item.Name
                        </div>
                        <div class="body">
                            @item.Proficiency
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="container-fluid body -sm">
            <div id="skills-carousel" class="carousel slide" data-interval="false" data-ride="carousel">
                <div class="carousel-inner">
                    @{
                        int i = 0;
                    }
                    @foreach (SkillModel item in Model.Skills)
                    {
                        <div class="@(i == 0 ? "carousel-item active" : "carousel-item") ">
                            <div class="skill-panel">
                                <div class="content">
                                    <div class="title">
                                        @item.Name
                                    </div>
                                    <div class="body">
                                        @item.Proficiency
                                    </div>
                                </div>
                            </div>
                        </div>
                        i++;

                    }
                </div>
                <a class="carousel-control-prev" href="#skills-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#skills-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
}
@if (Model.Education.Count != 0)
{
    <section id="education-section">
        <div class="header bc-header">
            <h2 class="title">Education</h2>
            <div class="underline"></div>
        </div>
        <div class="container-fluid body">
            @foreach (EducationModel item in Model.Education.OrderBy(x => Convert.ToInt16(x.Year)))
            {
                <a href="@item.Link" class="item" target="_blank">
                    <div class="education-panel">
                        <div class="img">
                            <img src="@item.ImageUrl" alt="@item.School image" />
                        </div>
                        <div class="body">
                            <h3 class="title">@item.School</h3>
                            <h4 class="subtitle">@item.Title</h4>
                            <h5 class="year">@item.Year</h5>
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>
}

@if(Model.Jobs.Count != 0)
{   
    <section id="experience-section">
        <div class="header bc-header">
            <h2 class="title">Experience</h2>
            <div class="underline"></div>
        </div>
        <div class="container-fluid body">
            @foreach (JobModel item in Model.Jobs.OrderBy(x => x.JobStart))
            {
                <div class="job-panel">
                    <div class="company">
                        <h3>@item.Company</h3>
                        <div class="time">
                            <strong>@item.JobStart.ToString("MMM yyyy") - @(item.JobEnd == null ? "Present" : ((DateTime)item.JobEnd).ToString("MMM yyyy"))</strong>
                        </div>
                    </div>
                    <div class="position">
                        <h3>@item.Title</h3>
                        <div>
                            @item.Description
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
}
@if (Model.Achievements.Count != 0)
{
    <section id="awards-section">
        <div class="header bc-header">
            <h2 class="title">Achievements</h2>
            <div class="underline"></div>
        </div>
        <div class="container-fluid body">
            @foreach (AchievementModel award in Model.Achievements.OrderBy(x => Convert.ToInt16(x.Year)))
            {
                <div class="achievement-badge">
                    <div class="title">
                        <i class="fas @(award.Type == "Award"?"fa-trophy":"fa-award") fa-2x" aria-hidden="true"></i>
                        @award.Title
                    </div>
                    <div class="body">
                        @award.Year
                    </div>
                </div>
            }
        </div>
    </section>
}
<section id="contact-section" class="contact-me" style="background-image:url(@Model.Home.ContactImage)">
    <div class="bc-header">
        <h2 class="title">Contact me</h2>
        <div class="underline"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (!String.IsNullOrEmpty(Model.Home.CVLink))
            {
                <div class="col-md">
                        <a href="@Model.Home.CVLink" target="_self">
                            <div class="content-panel">
                                <i class="fad fa-download fa-4x" aria-hidden="true"></i>
                                <h3>Download my full CV</h3>
                                <p>Click Here</p>
                            </div>
                        </a>
                </div>
            } 
            <div class="col-md">
                <div class="contact-form">
                    <form v-on:submit.prevent="submit" class="body">
                        <div class="mb-3">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" v-model="name" class="form-control form-input" maxlength="25" />
                            <span v-if="errors.name" class="text-danger">{{errors.name}}</span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" v-model="email" class="form-control form-input" maxlength="35" />
                            <span v-if="errors.email" class="text-danger">{{errors.email}}</span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Message"></label>
                            <textarea asp-for="Message" v-model="message" class="form-control form-input"> </textarea>
                            <span v-if="errors.message" class="text-danger">{{errors.message}}</span>
                        </div>
                        <div class="mb-3">
                            <div ref="grecaptcha" class="g-recaptcha" data-sitekey="@Model.CaptchaClientKey"></div>
                            <span v-if="errors.token" class="text-danger">{{errors.token}}</span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary bc-button" title="Submit">Submit</button>
                            <i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" v-bind:class="{'d-none':!loading}"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="page-footer">
    <div class="item">
        <i class="fal fa-copyright fa-fw" aria-hidden="true"></i> @Model.User.FirstName @Model.User.LastName @DateTime.Now.Year
    </div>
    <div class="item">
        Powered by <a class="link" href="https://github.com/JimmyHodgson/BlogCore" target="_blank" title="Blogcore's Github" rel="noopener noreferrer">BlogCore <i class="fab fa-github fa-fw" aria-hidden="true"></i></a>
    </div>
</footer>

@section HeadScripts {
    <script src="https://www.google.com/recaptcha/enterprise.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/assets/dist/lib/vue3-toastify/index.css" />
}