@model BlogCore.Models.Catalogues.MediaGroupModel

@{
    ViewData["Controller"] = "Media";
    ViewData["Child"] = "Group";
    ViewData["Action"] = "Details";
    ViewData["Title"] = $"{ViewData["Child"]} - {ViewData["Action"]}";
    Layout = "_ManagementLayout";
}

<section class="form-component">
    <div class="header">
        <h2><i class="fas fa-folder fa-fw" aria-hidden="true"></i> Details</h2>
    </div>
    <div class="body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NormalizedName)
            </dd>
        </dl>
        <a asp-action="Index"><i class="fal fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List</a> |
        <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fal fa-edit fa-fw" aria-hidden="true"></i> Edit</a>
    </div>
</section>