<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogCore</title>

    @* Font Import *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/assets/dist/css/main.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/assets/dist/css/main.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)

    @*jQuery has to stay at the top for now so it's accessible by js init code that's placed within partials*@
    <script src="~/assets/dist/lib/jquery/jquery.min.js"></script>
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <environment include="Development">
        <script type="importmap">
            {
                "imports":{
                    "@@popperjs/core": "/assets/dist/lib/popperjs/popperjs.min.js",
                    "bootstrap": "/assets/dist/lib/bootstrap/bootstrap.esm.min.js",
                    "vue": "/assets/dist/lib/vue/vue.esm-browser.js",
                    "vue3-apexcharts": "/assets/dist/lib/vue3-apexcharts/vue3-apexcharts.js",
                    "apexcharts": "/assets/dist/lib/apexcharts/apexcharts.esm.js",
                    "vue3-toastify": "/assets/dist/lib/vue3-toastify/index.mjs",
                    "@@vuepic/vue-datepicker": "/assets/dist/lib/vue-datepicker/vue-datepicker.js",
                    "date-fns": "/assets/dist/lib/date-fns/date-fns.min.js",
                    "common": "/assets/dist/js/common.min.js",
                    "components":"/assets/dist/js/components.combined.js"
                }
            }
        </script>
        <script src="~/assets/dist/js/project.combined.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="importmap">
            {
                "imports":{
                    "@@popperjs/core": "/assets/dist/lib/popperjs/popperjs.min.js",
                    "bootstrap": "/assets/dist/lib/bootstrap/bootstrap.esm.min.js",
                    "vue": "/assets/dist/lib/vue/vue.esm-browser.js",
                    "vue3-apexcharts": "/assets/dist/lib/vue3-apexcharts/vue3-apexcharts.js",
                    "apexcharts": "/assets/dist/lib/apexcharts/apexcharts.esm.js",
                    "vue3-toastify": "/assets/dist/lib/vue3-toastify/index.mjs",
                    "@@vuepic/vue-datepicker": "/assets/dist/lib/vue-datepicker/vue-datepicker.js",
                    "date-fns": "/assets/dist/lib/date-fns/date-fns.min.js",
                    "common": "/assets/dist/js/common.min.js",
                    "components":"/assets/dist/js/components.min.js"
                }
            }
        </script>
        <script src="~/assets/dist/js/project.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
