@using BlogCore.Common
@{
    Layout = "_Layout";
}

<section class="main-layout">
    <div id="side-bar" class="side-bar">
        <a class="header" href="/">
            <div>
                <img src="~/assets/dist/images/blogcore_logo_white_42x42.png" /> BlogCore
            </div>
        </a>
        @await Html.PartialAsync("_MenuPartial")
        <footer class="footer">
            <span>@($"v{@Constants.BCVersion}")</span>
        </footer>
    </div>
    <div class="body">
        <nav aria-label="Mobile menu" class="navbar bg-primary mobile-nav">
            <div class="navbar-brand">
                <img src="~/assets/dist/images/blogcore_logo_white_42x42.png" /> BlogCore
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars fa-fw"></i>
            </button>
            <div class="menu-component collapse" id="navbar">
                @await Html.PartialAsync("_MenuPartial")
            </div>
        </nav>
        <nav aria-label="Breadcrumbs" class="navbar bg-light bc-nav -dark">
            <div class="container-fluid">
                <i id="sidebar-toggle-widget" class="fal fa-bars fa-fw d-none d-lg-block clickable" aria-hidden="true" v-on:click="toggleSideBar"></i>
                <ul class="bread-crumb">
                    <li class="item">
                        <i class="@ViewData["Icon"]" aria-hidden="true"></i> @ViewData["Controller"]
                    </li>
                    @if (ViewData["Child"] != null)
                    {
                        <li class="item">
                            @ViewData["Child"]
                        </li>
                    }
                    @if (ViewData["Action"] != null)
                    {
                        <li class="item">
                            @ViewData["Action"]
                        </li>
                    }
                </ul>
                <div class="d-flex">
                    <form method="post" asp-action="Logout" asp-controller="Account">
                        <button class="nav-link" title="Sign out">
                            <i class="fad fa-sign-out fa-fw"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</section>
@section Scripts{
    @RenderSection("PageScripts", required: false)
}