@model AchievementModel

@{
    Layout = "_ManagementLayout";
    ViewData["Controller"] = "Achievements";
    ViewData["Action"] = "Details";
    ViewData["Title"] = $"{ViewData["Controller"]} - {ViewData["Action"]}";
    ViewData["Icon"] = "fas fa-trophy fa-fw";
}

<section id="achievement-details" class="form-component">
    <div class="header">
        <h2><i class="fas fa-trophy fa-fw"></i> Details</h2>
    </div>
    <div class="body">
        <div class="mb-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>
            </dl>
        </div>
    </div>
</section>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
